{% extends 'base.html' %}

{% block title %}Home | Incredible India{% endblock %}

{% block content %}

    <h2>Welcome to Incredible India</h2>
    <p>Experience the diversity and beauty of a timeless civilization.</p>
    <p>"Incredible India is a mesmerizing country, renowned for its rich history, diverse cultures, and unparalleled beauty. With its vast landscapes, ranging from the snow-capped Himalayas to serene beaches, and historical monuments like the Taj Mahal and Jaipur’s palaces, India offers an enchanting experience. The country is a vibrant mosaic of languages, religions, and traditions, celebrated through colorful festivals and unique art forms. From ancient temples to modern cities, India blends old-world charm with contemporary innovation. It is a land of spiritual enlightenment, adventure, and unparalleled hospitality, inviting everyone to explore its wonders and marvel at its diversity."</p>

{% endblock %}
